<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.UserManage.mapper.UserMapper">

</mapper>

        <!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.example.demo.UserManage.mapper.UserMapper">-->
<!--&lt;!&ndash;    public Account getUser(Long id); &ndash;&gt;-->
<!--    <select id="getUser" resultType="com.example.demo.UserManage.entity.User">-->
<!--        select * from  user where  id=#{id}-->
<!--    </select>-->
<!--</mapper>-->
